<h1> Detail úkolu </h1>

<%= link_to 'INDEX',  tasks_index_path %>
<p>
  <strong>Deadline:</strong>
  <%= @task.deadline_at %>
</p>

<p>
  <strong>Titul:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Poznámka:</strong>
  <% if @task.note.blank? %>
  <th> Žádná poznámka</th>
<% else %>
  <td><%= @task.note %></td>
<% end %>
</p>